<header>
    <div id="header">
        <img src="https://icon-library.com/images/github-icon-png/github-icon-png-29.jpg" alt="github logo">
        <h1 [routerLink]="['']">GitHub Users Search Engine</h1>
    </div>
</header>

<router-outlet></router-outlet>

<div class="change_mode-button" (click)="getDarkMode()" *ngIf="darkMode; else lightMode">
    <p>Light mode</p>
    <span class="material-icons">
        brightness_low
    </span>
</div>

<ng-template #lightMode>
    <div class="change_mode-button" (click)="getDarkMode()">
        <p>Dark mode</p>
        <span class="material-icons">
            brightness_high
        </span>
    </div>
</ng-template>