.result-user-container {
    display: flex;
    justify-content:space-between;

    .result-user-container_image {
        width: 80px;
        border-radius: 50px;
    }

    @media screen and (min-width: 49em) {
        justify-content: space-around;
    }
}